$primary-color: #888;
$secondary-color: white;
$tertiary-color: #ccc;

$primary-font-color: white;
$secondary-font-color: black;
$tertiary-font-color: white;

$global-border-radius: 0px;

$btn-color: #444;
$btn-hover-color: #333;
$btn-font-color: white;