/* You can add global styles to this file, and also import other style files */
@import './framework';

body {
    background-color: $tertiary-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 40px 0;
}

main {
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
}    

